# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore vscode folder
.vscode/

# Ignore build folder
*/build

# Ignore clion folder
*/.idea

# Ignore tests
**/test**.**
